DJANGO_DEBUG=True

DB_NAME=你的資料庫名稱
DB_USER=你的帳號名稱
DB_PASSWORD=你的密碼
DB_HOST=localhost
DB_PORT=5432

FIREBASE_PROJECT_ID=你的Firebase專案ID
FIREBASE_CREDENTIALS_PATH=secrets/firebase-key.json
FIREBASE_STORAGE_BUCKET=lightmemory-sqlf.firebasestorage.app